<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UIKit Starter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link id="data-uikit-theme" rel="stylesheet" href="css/uikit.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery.js"></script>
  <script src="js/uikit.js"></script>
  <script src="js/custom.js"></script>
</head>
<body>
  <section class="cover2">
    <nav class="tm-navbar uk-navbar">
      <div class="uk-container uk-container-center">
        <a class="uk-navbar-brand uk-hidden-small" href="index.html">
          <img class="uk-margin uk-margin-remove" src="images/logo.png" width="90" height="30" title="UIkit" alt="UIkit">
        </a>
        <ul class="uk-navbar-nav uk-hidden-small uk-navbar-flip">
          <li>
            <a href="#">Menu Item</a>
          </li>
          <li>
            <a href="#">Menu Item</a>
          </li>
          <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
            <a href="#">Dropdown 1
              <i class="uk-icon-chevron-down"></i>
            </a>
            <ul class="uk-dropdown uk-dropdown-navbar">
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
            </ul>
          </li>
          <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
            <a href="#">Dropdown 2
              <i class="uk-icon-chevron-down"></i>
            </a>
            <ul class="uk-dropdown uk-dropdown-navbar">
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
            </ul>
          </li>
          <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
            <a href="#">Dropdown 3
              <i class="uk-icon-chevron-down"></i>
            </a>
            <ul class="uk-dropdown uk-dropdown-navbar">
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
              <li>Menu Item</li>
            </ul>
          </li>
          <li>
            <a href="#">Menu Item</a>
          </li>
          <li>
            <a href="#">Menu Item</a>
          </li>
        </ul>
        <a class="uk-navbar-toggle uk-visible-small" href="#tm-offcanvas" data-uk-offcanvas=""></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">
          <img src="images/logo.png" width="90" height="30" title="UIkit" alt="UIkit">
        </div>
      </div>
    </nav>
    <div class="tm-section tm-section-color-1 tm-section-colored">
      <div class="uk-container uk-container-center uk-text-center">
        <h1>South Yorkshires Premier Glass Company</h1>
        <p class="uk-text-large">We supply the regions best Glass and Door Lock Products.</p>
        <a class="uk-button tm-button-custom" data-uikit-download="">
          <i class="fa fa-phone"></i> Request A Call</a>
      </div>
    </div>
  </section>
  <section>
    <div class="uk-offcanvas" id="tm-offcanvas">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{ multiple: true }">
          <li class="uk-parent">
            <a href="#">
              <i class="uk-icon-th-large"></i> Menu</a>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{ multiple: true }">
              <li>
                <a href="#">Menu Item</a>
              </li>
              <li>
                <a href="#">Menu Item</a>
              </li>
              <li class="uk-parent uk-nav-parent-icon">
                <a href="#">Dropdown 1</a>
                <ul class="uk-parent" id="dropdown">
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                </ul>
              </li>
              <li class="uk-parent uk-nav-parent-icon">
                <a href="#">Dropdown 2</a>
                <ul class="uk-parent" id="dropdown">
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                </ul>
              </li>
              <li class="uk-parent uk-nav-parent-icon">
                <a href="#">Dropdown 3</a>
                <ul class="uk-parent" id="dropdown">
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                  <li>Menu Item</li>
                </ul>
              </li>
              <li>
                <a href="#">Menu Item</a>
              </li>
              <li>
                <a href="#">Menu Item</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
 <section class="footer">
    <div class="site-info">
      <div class="uk-container">
        <div class="uk-flex">
          <div class="uk-width-1-5 media">
            <a class="logo" href="index.php">
              <img src="images/logo.png">
            </a>
          <div>&nbsp;</div>
          @php(dynamic_sidebar('image-sidebar-footer'))
          </div>
          <div class="uk-width-1-5 links">
          @php(dynamic_sidebar('first-footer-widget-area'))
          </div>
          <div class="uk-width-1-5 links">
          @php(dynamic_sidebar('second-footer-widget-area'))
          </div>
          <div class="uk-width-1-5 links">
          @php(dynamic_sidebar('third-footer-widget-area'))
          </div>
          <div class="uk-width-1-5 links">
          @php(dynamic_sidebar('fourth-footer-widget-area'))
          </div>
        </div>
      </div>
      <div class="uk-container uk-container-center uk-text-center">
      <hr class="divider">
      </div>
      <div class="uk-container">
        <div class="uk-flex bottom">
          <div class="uk-width-1-2 copyright uk-width-9-10">
            <p><?php printf( __( 'Built by %1$s', 'sage9uikit' ), '<a href="'. esc_url( 'https:webmobapps.com' ) .'">Webmobapps</a> © 2018 All Rights Reserved' ); ?></p>
          </div>
          <div class="uk-width-1-2 social uk-width-9-10">
           @php(dynamic_sidebar('social-footer-widget-area'))
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
</section>
</body>
</html>